
.left-panel-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:  100%;
    grid-template-rows: 100px 1fr 110px 135px;
    max-height: 99vh;
    overflow-x: scroll;
    overflow-y: hidden;
    align-content: end;
  
  }
  
  .left-panel-grid-addComponent {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  
    align-self: end;
  }
  
  .left-panel-grid-expansionPanel {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  
    align-self: start;
  }
  
  .left-panel-grid-HTMLComponentPanel {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  
    align-self: end;
  
  }
  
  .left-panel-grid-clearAndExportButtons {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  
    align-self: end;
  
  }
  